<li>
	{{burger_name}}

	<button class="change-consume" data-id="{{id}}" data-newconsume="{{consume}}">
		{{#if consume}}DEVOURED!{{else}}READY!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
